<!DOCTYPE html>
<html lang="en">

<head>
  <!-- storage test page for vue2 -->
  <!-- storage test page for vue2 -->
  <!-- storage test page for vue2 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>the-storage | vue2</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    div {
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>the-storage | vue2</h1>
    <div>strict mode: {{ strict }}</div>
    <div>storageData (storage mirror object): {{ storageData }}</div>
    <div>storageProxyObj (storage proxy object): {{ storageProxyObj }}</div>
    <div>
      <button @click="test">click me, set a message</button>
    </div>
    <div>
      <h3>Add to storage (auto parse value)</h3>
      <label>key: <input type="text" v-model="inputKey" /></label>
      <label>value: <input type="text" v-model="inputValue" /></label>
      <button @click="testSet">set to storage</button>
    </div>
    <div>
      <h3>Tests</h3>
      <div>
        <button @click="() => { storageProxyObj.clear() }">clear storage</button>
        <button @click="testAsyncSet">async set big data</button>
        <button @click="testSyncSet">sync set big data</button>
        <button @click="showInterfaces">show all interfaces</button>
        <button @click="showMirrorLength">show mirror's length</button>
        <div>
          <a :href="href" target="_blank">open another test page</a>
        </div>
      </div>
    </div>
    <div>
      <h4>Github</h4>
      <div>
        <a href="https://github.com/Pure-Peace/the-storages">
          https://github.com/Pure-Peace/the-storages
        </a>
      </div>
    </div>
  </div>

  <script type="module">
    import { createLocal, createSession, createStorage } from './src/index.js'

    const logStorages = (type) => {
      const title = `[${type}] storage objects`
      console.group(title)
      console.log('storage (mirror):', mirror)
      console.log('storage (proxy):', storageProxyObj)
      console.log('storage (real):', originStorage)
      console.groupEnd(title)
    }

    // big data for test async
    const bigData = Array.from(Array(5000), (v, k) => k)

    /*
      strict 
      default: true

      if false, you can directly recursively assign non-existent attributes on the [storage proxy object]
      such as:
        storageProxy.a.b.c.d.e.f.g = 'a value'

        But, if you want to get the real value of a key directly
        from the [storage proxy object], you must add _value at the end

      such as:
        storageProxy.a.b.c.d.e.f.g_value (strict=false)
        storageProxy.a.b.c.d.e.f.g (strict=true)
    */
    const strict = true

    /*
      mirrorOperation 
      default: false

      allow direct manipulation of mirrored objects?
      if true, your mirroring operations will be synchronized to storage

      such as:
        mirror.a = 1 (mirrorOperation=true)
        mirror.a = 1 (will error beacuse not allowed, mirrorOperation=false)
    */
    const mirrorOperation = true

    /*
      createLocal: create a localStorage
        param: options (object)
    
      Will return the [mirror object] of storage,
      the data is automatically synchronized with the storage object

      We recommend using [storage proxy object] for operation (not mirror object), 
      mirror object is used for data binding/obtaining
        
        such as:
          const storageProxyObj = mirror._prx // the [storage proxy object]
          
          // then handle...
          storageProxyObj.set()
          storageProxyObj.get()
          storageProxyObj.clear()
          storageProxyObj.a = 1
          storageProxyObj.b = { test: 1 }
            ...
        
      However, the mirror object has all the methods of the [storage proxy object],
      these interfaces are hidden in the mirror, you can still use them
        
        such as:
          mirror.set('a', 1) // equivalent to storageProxyObj.set('a', 1)
          mirror.length // equivalent to storageProxyObj.length
            ...
    */
    const mirror = createLocal({ strict })

    // storage proxy object
    const storageProxyObj = mirror._prx

    // origin localStorage object (patched)
    const originStorage = mirror._storage

    // mounting global object, can be printed from the browser console
    window.mirror = mirror
    window.proxy = storageProxyObj
    window.storage = originStorage

    // clear storage
    storageProxyObj.clear()
    console.log('storage is cleared, now your storage:')
    logStorages('cleared')

    // set a data to storage
    storageProxyObj.test = { message: 'hello, the-storage!' }
    /* 
      same as:
        storageProxyObj.test.message = 'hello, the-storage!'
            ↑ You can do this on the storage proxy object if strict = false
          or
        storageProxyObj.setChain('test.message', 'hello, the-storage!')
          or
        storageProxyObj.set(test, { message: 'hello, the-storage!' })
          or
        storageProxyObj.set({ test: { message: 'hello, the-storage!' } })
          or
        storageProxyObj.set([ test ], [{ message: 'hello, the-storage!' }])

      up to you.
    */

    console.log('set a default data, now your storage:')
    logStorages('setted')

    new Vue({
      el: '#app',
      data() {
        return {
          href: window.location.href,
          inputKey: '',
          inputValue: '',

          // the mirror object can make the data update automatically
          // so it's more suitable for obtaining storage data
          storageData: mirror,

          // the storage proxy object has all the methods and features (but it is not recommended to put it directly into the view)
          // so it's more suitable for storage operation
          storageProxyObj: storageProxyObj,

          // is strict mode?
          strict
        }
      },
      created() {
        // ensure that the storage data on the view can be updated automatically
        this.storageProxyObj.bindVm(this)

        // you can register some listeners

        /* 
          "ACTIVE" is an event triggered by the current page
          execute the following code to view all available events:

            console.log(this.storageProxyObj._activeEvents)
              -> ["get", "set", "remove", "pop", "clear"]

        */
        this.storageProxyObj.watchActive('get', e => {
          console.log('current page trigger [get]:', e)
        })
        this.storageProxyObj.watchActive('set', e => {
          console.log('current page trigger [set]:', e)
        })
        this.storageProxyObj.watchActive('remove', e => {
          console.log('current page trigger [remove]:', e)
        })
        this.storageProxyObj.watchActive('pop', e => {
          console.log('current page trigger [pop]:', e)
        })
        this.storageProxyObj.watchActive('clear', e => {
          console.log('current page trigger [clear]:', e)
        })


        /* 
          "Passive" is an event triggered by other pages
          execute the following code to view all available events:

            console.log(this.storageProxyObj._passiveEvents)
              -> ["get", "set", "remove"]
          
          Modifying storage on other pages will trigger the "PASSIVE" event on this page

          Note: Setting the same value to the same key will not trigger the "PASSIVE" event repeatedly

        */
        this.storageProxyObj.watchPassive('clear', e => {
          console.log('other page trigger [clear]:', e)
        })
        this.storageProxyObj.watchPassive('set', e => {
          console.log('other page trigger [set]:', e)
        })
        this.storageProxyObj.watchPassive('remove', e => {
          console.log('other page trigger [remove]:', e)
        })
      },
      methods: {
        test() {
          console.log('you click me, storage data will change.')

          // set data
          //this.storageProxyObj.test.message = 'wow, you click me!'
          this.storageProxyObj.set('test', { message: 'wow, you kick me!' })

          console.log('set a test data, now your storage:')
          logStorages('setted')
        },
        testSet() {
          // there is no meaning if there is no key or value
          if (this.inputKey && this.inputValue) {
            this.storageProxyObj.set(this.inputKey, this.inputValue, true)
            console.log('set a data to storage:', 'key:', this.inputKey, 'value:', this.inputValue)
            this.inputKey = this.inputValue = ''
            logStorages('setted')
          }
        },
        testAsyncSet () {
          console.group('async test')
          console.log('[async test] will set a big data to storage:', bigData)
          console.log('async start')
          console.time()
          // async
          this.storageProxyObj.setAsync('bigData', bigData).then(e => {
            console.log('async set complete!')
          })
          console.timeEnd()
          console.log('async end')
          console.groupEnd('async test')
        },
        testSyncSet () {
          console.group('sync test')
          console.log('[sync test] will set a big data to storage:', bigData)
          console.time()
          // sync
          this.storageProxyObj.set('bigData', bigData)
          console.log('sync set complete!')
          console.timeEnd()
          console.groupEnd('sync test')
        },
        showInterfaces () {
          console.log(this.storageProxyObj._interfaces)
        },
        showMirrorLength () {
          console.log(this.storageData.length)
        }
      }
    })
  </script>
</body>

</html>